/vendor
/node_modules
.env
/storage/*.key
/public/storage
.idea
*.log
*.bak
.wwebjs_auth/
check_transaksi.php
cleanup-refactor.php
diagnose_all_encryption.php
.phpunit.result.cache
debug_dashboard.php
.phpunit.result.cache
debug_final.php
diag_final.php
restore_controller.php
sanity.php
test_dash.php
test_query.php
tinker_test.php
.phpunit.result.cache
*.cache
