.sidebar {
    background-color: #F8F9FA;
    position: sticky;
    top: 0;
    height: 100vh;
}

/* LOGO */
.sidebar img {
    max-height: 28px;
}

/* MENU */
.sidebar .nav-link {
    color: #1e3a8a;
    padding: 10px 16px;
    margin: 4px 10px;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
}

/* ICON */
.sidebar .nav-link i {
    color: #1e40af;
}

/* HOVER */
.sidebar .nav-link:hover {
    background-color: #eff6ff;
    color: #1d4ed8;
}

/* ACTIVE */
.sidebar .nav-link.active {
    background-color: #e0e7ff;
    color: #1e40af;
    font-weight: 600;
    position: relative;
}

/* ACTIVE INDICATOR (DALAM SIDEBAR – AMAN) */
.sidebar .nav-link.active::before {
    content: "";
    position: absolute;
    left: 0;
    /* tidak keluar sidebar */
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 60%;
    background-color: #2563eb;
    border-radius: 4px;
}

/* SUB MENU */
.sidebar .sub-link {
    font-size: 0.9rem;
    color: #334155;
}

/* SUB MENU ACTIVE */
.sidebar .sub-link.active {
    color: #2563eb;
    font-weight: 600;
}

/* CHEVRON */
.sidebar .bi-chevron-down {
    color: #64748b;
    font-size: 0.75rem;
}

.disabled {
    color: grey !important;
}